.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1f1b1e;
  }
  
  mat-card {
	width: 400px;
	padding: 20px;
  }
  
  .login-form {
	display: flex;
	flex-direction: column;
  }
  
  .login-button {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin: auto;
  }
 
  