<h2>Create New Reservation</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <mat-form-field style="width: 100%;">    
    <mat-label>dateDebut</mat-label>
    <input matInput [matDatepicker]="pickerDebut" formControlName="dateDebut">
    <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
    <mat-datepicker #pickerDebut></mat-datepicker>  
  </mat-form-field>

  <mat-form-field style="width: 100%;">    
    <mat-label>dateFin</mat-label>
    <input matInput [matDatepicker]="pickerFin" formControlName="dateFin">
    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin></mat-datepicker>  
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>clientId</mat-label>
    <mat-select formControlName="clientId">
      <mat-option *ngFor="let client of clients" [value]="client.id">
        {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <mat-label>salleId</mat-label>
    <mat-select formControlName="salleId">
      <mat-option *ngFor="let salle of salles" [value]="salle.id">
        {{ salle.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary">Submit</button>

</form>